{% extends "suunnitelmat/suunnitelma.html" %}
{% block content %}


<article>
	<h2>Lorem Ipsum</h2>
    <p>2014-01-24 by <a href="#">Piia</a></p>

	<p>
	Aliquam eget massa non libero suscipit aliquet. Mauris dapibus consequat lectus vitae imperdiet. Proin non imperdiet dui. Cras laoreet metus quam, at aliquet risus bibendum a. Nulla sagittis semper ligula ut lobortis. Aliquam vel massa et ante iaculis vehicula a et dui. Maecenas a diam volutpat, facilisis justo a, sagittis metus.
	</p>

	<p>
	Ut in fringilla leo, vel finibus est. Quisque blandit orci a feugiat tincidunt. Ut eu neque euismod, euismod lacus porta, mattis ante. Aenean egestas felis felis, non sodales metus molestie sed. Pellentesque aliquam viverra sapien, nec aliquet nisi viverra placerat. Aenean hendrerit tortor non dictum ullamcorper. Curabitur lobortis purus sed lectus dignissim, dapibus scelerisque elit euismod. Curabitur faucibus, nibh quis tincidunt efficitur, orci libero aliquam felis, nec finibus quam libero at lorem. Cras auctor risus ante, in blandit nisi bibendum a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non lorem sit amet eros viverra iaculis. Sed faucibus odio eros, varius porttitor ex tempor eu. Etiam sagittis vitae urna in rhoncus. Phasellus et vulputate mauris.
	</p>
	<p>
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet leo maximus, pharetra nibh sollicitudin, ultricies tortor. Suspendisse potenti. Donec placerat varius lorem, eget vulputate velit facilisis sit amet. Donec ut luctus lorem. Pellentesque ac pharetra augue. Sed non urna porttitor, lacinia nisi eget, eleifend velit. Curabitur at pharetra mi. Quisque convallis sem ut nisi gravida, ut maximus ex venenatis. Nulla dictum quis ligula a porttitor.
	</p>
	<p>
	Quisque scelerisque ipsum et lacinia venenatis. Etiam auctor commodo ligula, vel porttitor odio facilisis mollis. Aenean turpis diam, pharetra sed arcu tristique, consequat pulvinar nisl. Phasellus tempus accumsan metus, eget consectetur nibh viverra eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae urna et eros ullamcorper faucibus sed et magna. Nulla a suscipit enim. Mauris porttitor nibh id nunc rhoncus, ut ullamcorper nulla faucibus. Morbi eget tortor in nunc tempor rutrum non in tellus. Praesent varius metus a felis consectetur eleifend. Nulla pellentesque quam ac iaculis vestibulum. Mauris ipsum nulla, euismod ac mattis ut, laoreet eleifend augue. Nam in mauris et nulla aliquet convallis a nec odio. Etiam nisi ante, efficitur vitae pulvinar a, convallis ut nibh. 
	</p>

	<p><button type="button" class="btn btn-default">Kommentit</button></p>

	<hr>
</article>

<article>
	<h2>Lorem Ipsum</h2>
    <p>2014-01-24 by <a href="#">Piia</a></p>

	<p>
	Aliquam eget massa non libero suscipit aliquet. Mauris dapibus consequat lectus vitae imperdiet. Proin non imperdiet dui. Cras laoreet metus quam, at aliquet risus bibendum a. Nulla sagittis semper ligula ut lobortis. Aliquam vel massa et ante iaculis vehicula a et dui. Maecenas a diam volutpat, facilisis justo a, sagittis metus.
	</p>

	<p>
	Ut in fringilla leo, vel finibus est. Quisque blandit orci a feugiat tincidunt. Ut eu neque euismod, euismod lacus porta, mattis ante. Aenean egestas felis felis, non sodales metus molestie sed. Pellentesque aliquam viverra sapien, nec aliquet nisi viverra placerat. Aenean hendrerit tortor non dictum ullamcorper. Curabitur lobortis purus sed lectus dignissim, dapibus scelerisque elit euismod. Curabitur faucibus, nibh quis tincidunt efficitur, orci libero aliquam felis, nec finibus quam libero at lorem. Cras auctor risus ante, in blandit nisi bibendum a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non lorem sit amet eros viverra iaculis. Sed faucibus odio eros, varius porttitor ex tempor eu. Etiam sagittis vitae urna in rhoncus. Phasellus et vulputate mauris.
	</p>
	<p>
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet leo maximus, pharetra nibh sollicitudin, ultricies tortor. Suspendisse potenti. Donec placerat varius lorem, eget vulputate velit facilisis sit amet. Donec ut luctus lorem. Pellentesque ac pharetra augue. Sed non urna porttitor, lacinia nisi eget, eleifend velit. Curabitur at pharetra mi. Quisque convallis sem ut nisi gravida, ut maximus ex venenatis. Nulla dictum quis ligula a porttitor.
	</p>
	<p>
	Quisque scelerisque ipsum et lacinia venenatis. Etiam auctor commodo ligula, vel porttitor odio facilisis mollis. Aenean turpis diam, pharetra sed arcu tristique, consequat pulvinar nisl. Phasellus tempus accumsan metus, eget consectetur nibh viverra eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae urna et eros ullamcorper faucibus sed et magna. Nulla a suscipit enim. Mauris porttitor nibh id nunc rhoncus, ut ullamcorper nulla faucibus. Morbi eget tortor in nunc tempor rutrum non in tellus. Praesent varius metus a felis consectetur eleifend. Nulla pellentesque quam ac iaculis vestibulum. Mauris ipsum nulla, euismod ac mattis ut, laoreet eleifend augue. Nam in mauris et nulla aliquet convallis a nec odio. Etiam nisi ante, efficitur vitae pulvinar a, convallis ut nibh. 
	</p>

	<p><button type="button" class="btn btn-default">Kommentit</button></p>

	<hr>
</article>

<article>
	<h2>Lorem Ipsum</h2>
    <p>2014-01-24 by <a href="#">Piia</a></p>

	<p>
	Aliquam eget massa non libero suscipit aliquet. Mauris dapibus consequat lectus vitae imperdiet. Proin non imperdiet dui. Cras laoreet metus quam, at aliquet risus bibendum a. Nulla sagittis semper ligula ut lobortis. Aliquam vel massa et ante iaculis vehicula a et dui. Maecenas a diam volutpat, facilisis justo a, sagittis metus.
	</p>

	<p>
	Ut in fringilla leo, vel finibus est. Quisque blandit orci a feugiat tincidunt. Ut eu neque euismod, euismod lacus porta, mattis ante. Aenean egestas felis felis, non sodales metus molestie sed. Pellentesque aliquam viverra sapien, nec aliquet nisi viverra placerat. Aenean hendrerit tortor non dictum ullamcorper. Curabitur lobortis purus sed lectus dignissim, dapibus scelerisque elit euismod. Curabitur faucibus, nibh quis tincidunt efficitur, orci libero aliquam felis, nec finibus quam libero at lorem. Cras auctor risus ante, in blandit nisi bibendum a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non lorem sit amet eros viverra iaculis. Sed faucibus odio eros, varius porttitor ex tempor eu. Etiam sagittis vitae urna in rhoncus. Phasellus et vulputate mauris.
	</p>
	<p>
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet leo maximus, pharetra nibh sollicitudin, ultricies tortor. Suspendisse potenti. Donec placerat varius lorem, eget vulputate velit facilisis sit amet. Donec ut luctus lorem. Pellentesque ac pharetra augue. Sed non urna porttitor, lacinia nisi eget, eleifend velit. Curabitur at pharetra mi. Quisque convallis sem ut nisi gravida, ut maximus ex venenatis. Nulla dictum quis ligula a porttitor.
	</p>
	<p>
	Quisque scelerisque ipsum et lacinia venenatis. Etiam auctor commodo ligula, vel porttitor odio facilisis mollis. Aenean turpis diam, pharetra sed arcu tristique, consequat pulvinar nisl. Phasellus tempus accumsan metus, eget consectetur nibh viverra eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae urna et eros ullamcorper faucibus sed et magna. Nulla a suscipit enim. Mauris porttitor nibh id nunc rhoncus, ut ullamcorper nulla faucibus. Morbi eget tortor in nunc tempor rutrum non in tellus. Praesent varius metus a felis consectetur eleifend. Nulla pellentesque quam ac iaculis vestibulum. Mauris ipsum nulla, euismod ac mattis ut, laoreet eleifend augue. Nam in mauris et nulla aliquet convallis a nec odio. Etiam nisi ante, efficitur vitae pulvinar a, convallis ut nibh. 
	</p>

	<p><button type="button" class="btn btn-default">Kommentit</button></p>

	<hr>
</article>


<nav>
    <button type="button" class="btn btn-info">Edellinen</button>
    <button type="button" class="btn btn-default">Seuraava</button>
</nav>

{% endblock %}